node_modules
npm-debug.log
.git
.gitignore
README.md
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
.next
out
dist
*.log
.DS_Store
Thumbs.db 
coverage
workspace
nvm
node
*.zip
*.rar
*.sql
*.exe
*.msi
*.AppImage
*.dmg
*.deb
*.rpm
public/electron.js