/* Test CSS simple */
.test-red {
  background-color: red !important;
  color: white !important;
  padding: 20px !important;
  margin: 20px !important;
  border: 3px solid blue !important;
}

.test-blue {
  background-color: blue !important;
  color: white !important;
  padding: 20px !important;
  margin: 20px !important;
  border: 3px solid red !important;
}

